.idea

/client/.DS_Store
/client/node_modules
/client/dist

/client/.env

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*

/client/.idea
/client/.vscode
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?

/server/.env
/server/node_modules